.card {
  display: flex;
  flex-direction: column;
}

.card-body {
  flex: 1;
}
.card-text {
  height: 100px; 
  overflow-y: auto;
}
.card-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

}
.card-img-top {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  height: 200px; 
}

.card-img-top img {
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%;
}

.deals-heading {
  font-size: 2em; 
  text-align: left; 
  color: #333; 
  font-weight: bold; 
  padding: 20px; 
 
  border-radius: 10px; 
}